.productorder-view {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .order-right-panel {

        .order-summary {
            list-style: none;
            background: oldlace;
            padding: 5px 10px;
            margin: 10px;

            li {
                margin: 15px 0px;
            }

            label {
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
                width: 140px;
            }

            .product-name {
                color: #1161ee;
            }

            .event-details-label {
                color: #ffa500;
                font-size: 18px;
                width: auto;
            }

            .event-control {
                padding: 5px;
                cursor: pointer;
                border: 2px solid #ffa500;
                border-radius: 5px;
                font-size: 16px;
                line-height: 20px;
                width: 160px;
                margin-left: 10px;
            }

            .validation-error {
                width: auto;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        .buy-now {
            cursor: pointer;
            background: #0ade51;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 16px;
            margin: 0px;
            border: 2px solid #ffa500;
            color: #fff;

            &:hover {
                font-weight: bold;
            }
        }
    }


}