.contactinformation-view {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-name {
        font-weight: bold;
        font-size: 18px;
    }

    .contact-info-container {
        list-style: none;
        margin-top: 20px;

        label {
            font-weight: bold;
        }
    }
}