.ADashboard-view {
    .dashboard-menu {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
}