.buy-now {
    cursor: pointer;
    background: #0ade51;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0;
    border: 2px solid #ffa500;
    color: #fff;

    &:hover {
        font-weight: bold;
    }
}

.card-image {
    height: 200px;
    width: 300px;
}

.card-footer {
    display: flex;
    justify-content: center;
}