.images-view {
    .order-rectangle-image {
        height: 500px;
        width: 500px;
        cursor: pointer;
        transition: height 2s, width 2s;

        @media only screen and (max-width: 600px) {
            width: 340px;
            height: 400px;

            &:hover {
                width: 360px;
                height: 420px;
            }
        }
    }

    .rectangle-image {
        height: 250px;
        width: 400px;
        transition: height 2s;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
            width: 340px;

            &:hover {
                height: 260px;
            }
        }
    }

    .square-image {
        height: 160px;
        width: 200px;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }

    .circle-image {
        height: 160px;
        width: 200px;
        cursor: pointer;
        margin: 5px 0px;
        border-radius: 50%;
    }
}