.dashboard {
    .images-container {
        display: flex;
        flex-direction: row;
        /* margin: 0px 20px; */
        margin: 50px;
        flex-wrap: wrap;

        .timer {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            justify-content: center;
        }
    }

    .type-container {
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .no-data {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        font-weight: bold;
    }
}