.registeruserinfo-view {

    .signup-wrap {
        width: 100%;
        margin: auto;
        max-width: 525px;
    }

    .signup-html {
        width: 100%;
        height: 100%;
        background: rgba(40, 57, 101, .9);
    }

    .signup-form .group .label {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }

    .signup-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .signup-form .group {
        margin-bottom: 15px;
    }

    .signup-form .group .label,
    .signup-form .group .input,
    .signup-form .group .button {
        width: 100%;
        color: #000;
        display: block;
    }

    .signup-form .group .input,
    .signup-form .group .button {
        border: none;
        padding: 5px;
        border-radius: 5px;
        /* background: rgba(255, 255, 255, .1); */
    }

    .signup-form .group input[data-type="password"] {
        text-security: circle;
        -webkit-text-security: circle;
    }

    .signup-form .group .label {
        /* color: #aaa;
        font-size: 12px; */
        color: #fff;
    }

    .signup-form .group .button {
        cursor: pointer;
        background: #0ade51;
        font-size: 16px;

        &:hover {
            font-weight: bold;
        }
    }

    .signup-form .group label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background: rgba(255, 255, 255, .1);
    }

    .signup-form .group label .icon:before,
    .signup-form .group label .icon:after {
        content: '';
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        transition: all .2s ease-in-out 0s;
    }

    .signup-form .group label .icon:before {
        left: 3px;
        width: 5px;
        bottom: 6px;
        transform: scale(0) rotate(0);
    }

    .signup-form .group label .icon:after {
        top: 6px;
        right: 0;
        transform: scale(0) rotate(0);
    }

    .signup-form .group .check:checked+label {
        color: #fff;
    }

    .signup-form .group .check:checked+label .icon {
        background: #1161ee;
    }

    .signup-form .group .check:checked+label .icon:before {
        transform: scale(1) rotate(45deg);
    }

    .signup-form .group .check:checked+label .icon:after {
        transform: scale(1) rotate(-45deg);
    }
}